@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 11, 16, 27;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  background-image: url('../public/cubes.svg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 110vw 85vh;
  background-position: center -55px;
}

@media screen and (width > 600px) {
  body {
    background-size: 150vh;
    background-position: center center;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
